:root{
    --img-slot: 38vh;
    --height-navbar: 50px;
}

body {
    overflow: hidden;
}

.navbar {
    padding: 0 10px 4px 10px;
    background: #100e13 !important;
    height: var(--height-navbar);

    border-image: linear-gradient(to left, #ec2f4b, #009fff) 30;
    border-width: 2px 0 2px 0;
    border-style: solid;
}

#top-description img {
    width:100vw;
    height: var(--img-slot);
}

#select-game-slider{
    background: #100e13;
    height: calc(100vh - var(--img-slot) - var(--height-navbar));

    border-image: linear-gradient(to right, #ec2f4b, #009fff) 30;
    border-width: 2px 0 2px 0;
    border-style: solid;
}

