<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Login - Lucian Casino</title>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>

        <script src="~/js/general-scripts.js"></script>
        <script src="~/js/home-page.js"></script>

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/css/home-page.css"/>
    </head>
    <body>
        
        <div id="navbar-container">
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                    @* <img src="" class="d-inline-block align-top" alt=""> *@
                    Lucian Casino
                </a>
            </nav>
        </div>

        <div id="top-description">
            <img src="~/images/slots-5012428_1920.jpg" class="d-inline-block align-top" alt="slots-machine">
        </div>

        <div id="select-game-slider">

        </div>

    </body>
</html>