<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Login - Lucian Casino</title>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>

        <script src="~/js/general-scripts.js"></script>
        <script src="~/js/login-page.js"></script>

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/css/login-page.css"/>
    </head>
    <body>
        <div class="background">
            <img src="~/images/las-vegas-g2d6496a5b_1920.jpg" alt="casino-location-image">
            <div class="overlay"></div>
        </div>
        <div class="account-form">
            <div class="top-text">
                <h3>Access Your Account</h3>
                <p>We use fictional currency. No risk, only fun!</p>
            </div>
            <form id="account-form">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputName" placeholder="Name" autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="inputEmail" placeholder="Email" autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="inputPassword" placeholder="Password" autocomplete="off">
                </div>
                <div class="menu">
                    <div id="extra">
                        <a href="">
                            <u>Forgot your password?</u>
                        </a>
                    </div>
                    <button class="btn" type = "button" id="login-btn"> Login to Your Account</button>
                    <p> &#8213; OR &#8213;</p>
                    <button class="btn" type = "button" id="signup-btn"> Create a New Account</button>
                </div>
            </form>
        </div>
    </body>
</html>