<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Login - Lucian Casino</title>
        
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/login-page.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/css/login-page.css"/>
    </head>
    <body>
        <div class = "background">
            <img src="~/images/las-vegas-g2d6496a5b_1920.jpg" alt="casino-location-image">
            <div class="overlay"></div>
        </div>
        <div class="account-form">
            
        </div>
    </body>
</html>